@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
*{
    font-family: 'Hind', sans-serif;
}

h1{
    font-family: 'Lalezar', cursive;
}

.bg-color{
    background-color: rgb(39, 183, 250);
}
.bg-forecast{
    background-color: rgb(39, 183, 250);
}
.bgCity{
    background-color: rgba(245, 243, 243, 0.5);
    
}
.card-body{
    background-color: rgb(229, 156, 252);
    color: white;
}